---

---

<div
  class="transition-all duration-200 [&_svg]:h-4 [&_svg]:w-4 absolute peer-not-checked:invisible peer-checked:visible peer-checked:opacity-100 peer-not-checked:opacity-0"
>
  <slot />
</div>
