---

---

<div
  class=`
    peer-not-checked:visible [&_svg]:h-4 [&_svg]:w-4  peer-checked:invisible peer-checked:opacity-0
     peer-not-checked:opacity-100 transition-all duration-200`
>
  <slot />
</div>
