---
import { cls } from '@/src/lib/utils';

interface Props {
  class?: string;
}
const { class: className } = Astro.props as Props;
---

<nav
  aria-label="breadcrumb"
  data-slot="breadcrumb"
  class={cls('inline-flex flex-wrap font-normal gap-2 not-prose text-[0.87rem]', className)}
>
  <slot />
</nav>
