---
import { cls } from '@/src/lib/utils';
import { type HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  class?: string;
}
const { class: className, ...rest } = Astro.props as Props;
---

<a
  data-slot="breadcrumb-link"
  class={cls(
    'opacity-60 line-clamp-1 w-full hover:underline underline-offset-3 hover:opacity-100 transition-opacity duration-200',
    className
  )}
  {...rest}
>
  <slot />
</a>
