---
import { PageMetadata } from "@/src/components/hybrid-astro-ui/page-metadata";
import { ThemeProvider } from '@/src/components/hybrid-astro-ui/theme-toggle';


interface Props {
	title: string;
	description: string;
	image: ImageMetadata;
	lang: string;
}

const { title, description, image, lang } = Astro.props as Props;

---


<!doctype html>
<html lang={lang}>
	<head>
		<ThemeProvider />
		<PageMetadata
			title={title}
			description={description}
			image={image}
			enableClientRouter
			ogType="website"
			favicons={[]}
			preloadFonts={[
				{ href: '/fonts/Inter/Inter-VariableFont_opsz_wght.ttf', type: 'font/ttf' },
				{ href: '/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf', type: 'font/ttf' }
			]}
		/>
	</head>
	<body class="inter-font">
		<slot />
	</body>
</html>


